h1 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 60px;
    margin: 10px;
    padding: 5px;
}
.text_color{
    color: darkblue;
}
.name_color{
    color:tomato;
}
p{
    color:gray;
    font-size: 20px;
    margin: 10px;
    padding: 5px;  }

.half_width {
    width: 40%;
    display: inline-block ;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 80%;
    margin-top: 4px;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#80b3ff,#005ce6);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 10px;
    
}
.top {
    height:80%
}
h2{
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 20px;
}
.single_project {
    display: inline-block;
    width: 30.5%;
    padding-top: 50px;
    margin-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px dimgray;
    height: 60%;
}
.lower_mid h1 {
    font-family: 'Bebas Neue', sans-serif; 
    text-align: center;
}
.single_project h2 {
    font-family: 'Bebas Neue', sans-serif; 
    color:#404040;
    margin-left: 20px;
    padding: 5px;
}
.single_project p{
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 20px;
    padding: 5px;
}
